---
import { storyblokEditable } from '@storyblok/astro'
import Hero from '../../../components/Hero.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="full-bleed relative max-h-[600px]">
    <div class="brightness-[20%] h-full overflow-hidden">
        <img src={blok.background.filename} alt="UI Image" class="object-cover object-top w-full h-full"/>
    </div>
    <div class="absolute top-0 left-0 w-full wrapper">
        <Hero>
            <p class="text-primary !sub-2" slot="pre-heading">
                {blok.heading_super}
            </p>
            <span slot="heading">
                {blok.heading}
            </span>
            <span slot="subtext">
                {blok.body}
            </span>
            <button class="btn btn-primary w-fit" slot="call-to-action">
                {blok.call_to_action}
            </button>
        </Hero>
    </div>
</div>