---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="hero py-20">
    <div class="content hero-content flex-col items-start md:flex-row md:items-center">
        <!-- Banner Header -->
        <div class="flex flex-col items-start gap-2 relative max-w-[500px]">
            <div class="absolute -top-8">
                {
                    blok.preheading?.map((subBlok: any) => {
                        return <StoryblokComponent blok={subBlok} />
                    })
                }
            </div>
            <h1>{blok.heading}</h1>
        </div>
        <!-- Banner Subtext & CTA -->
        <div class="flex flex-col gap-4 text-left">
            <p class="sub-2">{blok.subheading}</p>
            <span class="flex items-start gap-2 w-full">
                { () => {
                    if (blok.secondaryAction) {
                        return <a class="btn btn-secondary btn-outline max-w-fit">{blok.secondaryAction}</a>
                    }
                }}
                <a class="btn btn-primary max-w-fit">{blok.callToAction}</a>
            </span>
        </div>
    </div>
</div>