---
import { storyblokEditable } from '@storyblok/astro'
import CostAnimation from '@components/CostAnimation.astro'
import type { PricingCardStoryblok } from '@root/storyblok-component-types/component-types-sb'

interface Props {
    blok: PricingCardStoryblok
}

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="flex justify-center">
    <div class="card text-neutral bg-base-100 shadow-xl w-[600px]">
        <div class="card-body relative overflow-clip">
            <div class="absolute left-0 top-0 w-full h-[300px] sm:h-[400px] px-4 flex items-end">
                <CostAnimation />
            </div>
            <div class="h-[300px] sm:h-[400px]">
                <p class="text-center">
                    <span class="font-semibold text-[70px] sm:text-[100px] text-secondary">
                        ${blok.cost_amount}
                    </span>
                    <span class="text-5xl font-thin">
                        {blok.cost_frequency}
                    </span>
                </p>
            </div>
            <h3 class="text-lg">{blok.name}</h3>
            <p class="text-sm font-thin max-w-[500px]">{blok.description}</p>
            <button class="btn btn-primary btn-outline">
                {blok.call_to_action}
            </button>
            <p>{blok.feature_title}</p>
            <ul class="list-disc list-inside font-light">
                {blok.features?.split(',').map((feature) => (
                    <li>{feature}</li>
                ))}
            </ul>
        </div>
    </div>
</div>